---
- name: Gather Docker Compose Information
  hosts: all
  become: yes  # You may need to become root or use sudo to run Docker commands
  become_user: root  # Specify the user to become (root in this case)

  tasks:
      - name: Read Docker Compose file
        become: yes
        command: docker compose -f /opt/cavi2-infrastructure/docker-compose.yml config
        register: docker_compose_info

      - name: Extract image tags
        set_fact:
            backend_image_tag: "{{ docker_compose_info.services.backend.image | regex_search(':(.*)$') }}"
            investigator_image_tag: "{{ docker_compose_info.services.investigator.image | regex_search(':(.*)$') }}"

      - name: Create a variables file with image tags
        copy:
            content: |
                backend_image_tag: "{{ backend_image_tag }}"
                investigator_image_tag: "{{ investigator_image_tag }}"
            dest: ./variables.yml
